.app {
  width: 70%;
  margin: 0 auto;
  font-family: system-ui;

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
  }
}

.progress {
  height: 20px;
}

.coin {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  margin-bottom: 10px;
  padding: 30px 30px 10px 30px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__name {
    display: flex;
    align-items: center;
  }

  &__color {
    border-radius: 30px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
